{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>


    <div class="py-20 bg-gray-900 radius-for-skewed">
      <div class="container mx-auto px-4">
        <div class="mb-16 mx-auto max-w-md text-center">
          <span class="text-blue-500 font-bold text-sm tracking-widest">REFERENCES</span>
          <h2 class="text-4xl lg:text-5xl font-bold font-heading text-white pt-5">References &amp; Sources</h2>
        </div>
        <div class="flex flex-wrap -mx-4">
          <div class="mb-8 lg:mb-0 w-full md:w-1/2 lg:w-1/3 px-4">
            <div class="py-10 px-6 bg-slate-800 shadow rounded text-center">
              <span
                class="mb-6 w-16 h-16 inline-flex justify-center items-center bg-blue-100 rounded text-2xl text-blue-600 font-bold"
                data-removed="true">1</span>
              <a href="https://unsplash.com" target="_blank">
                <h3 class="mb-4 text-2xl font-bold font-heading text-white hover:underline">unsplash.com</h3>
              </a>
              <p class="text-gray-500 leading-loose">All rocket images were taken from unsplash.com, and are royalty
                &amp; copyright free. This images are held under the Creative Commons License</p>
            </div>
          </div>
          <div class="mb-8 lg:mb-0 w-full md:w-1/2 lg:w-1/3 px-4">
            <div class="py-10 px-6 bg-slate-800 shadow rounded text-center">
              <span
                class="mb-6 w-16 h-16 inline-flex justify-center items-center bg-blue-100 rounded text-2xl text-blue-600 font-bold"
                data-removed="true">2</span>
              <a href="http://systemuicons.com" target="_blank">
                <h3 class="mb-4 text-2xl font-bold font-heading text-white hover:underline">systemuicons.com</h3>
              </a>
              <p class="text-gray-500 leading-loose">All SVG graphics and vectors were taken from systemuicons.com.
                This images are held under the Creative Commons License and can be used without attribution</p>
            </div>
          </div>
          <div class="w-full md:w-full lg:w-1/3 px-4">
            <div class="py-10 px-6 bg-slate-800 shadow rounded text-center">
              <span
                class="mb-6 w-16 h-16 inline-flex justify-center items-center bg-blue-100 rounded text-2xl text-blue-600 font-bold"
                data-removed="true">3</span>
              <a href="http://flaticon.com " target="_blank">
                <h3 class="mb-4 text-2xl font-bold font-heading text-white hover:underline">flaticon.com</h3>
              </a>
              <p class="text-gray-500 leading-loose">Vector images and graphics were taken from flaticon.com. These
                images are held under the CC license and require attribution in order to use</p>
            </div>
          </div>

          <div class="w-full md:w-full lg:w-1/3 px-4">
            <div class="py-10 px-6 bg-slate-800 shadow rounded text-center">
              <span
                class="mb-6 w-16 h-16 inline-flex justify-center items-center bg-blue-100 rounded text-2xl text-blue-600 font-bold"
                data-removed="true">4</span>
              <a href="http://istockphoto.com/ " target="_blank">
                <h3 class="mb-4 text-2xl font-bold font-heading text-white hover:underline">istockphoto.com</h3>
              </a>
              <p class="text-gray-500 leading-loose">
                These images are royalty free and can be used without attribution</p>
            </div>
          </div>


         
         


          

          
          

          
          
        </div>

  </section>

  {% endblock %}